* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body {
  background:lightblue;
  width:100vw;
  height:100vh;
}

header {
  padding:10px;
  font:1em 'Times' serif;
  text-align: center;
  color:white;
  background:black;
}

 h1 {
  font:2em 'cursive';
}

h2 {
  font:1em 'calibri';
  
}

.section {
  padding: 10px;
  color: white;
  background: black;
  margin: 10px auto;
  width:50%;
  border-radius:5px;
}

input {
  margin:10px auto;
  border-radius:5px;
  padding:5px;
  border:0px none;
  background:gray;
  width:90%;
}

.section-res {
  width:80%;
  margin: 10px auto;
  background:black;
  height:20%;
  border-radius:10px;
  padding:10px;
  color:white;
}


.responsive {
  color:red;
  font-weight:bold;
  text-decoration:underline;
}
